@using Biblioteca.Models.Entity
@model Categoria

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editarv1</h2>
@*helpers*@ 
@using (Html.BeginForm("Editar", "Categoria", FormMethod.Post, new { @id = "miformulario", @class = "form-horizontal" }))
{  
    <input type="hidden" name="id" value="@Model.CategoriaId" />
    <label>Valor Interno</label>
    <input type="text" name="valorinterno" value="@Model.ValorInterno">
    <label>Valor </label>
    <input type="text" name="valor" value="@Model.Valor">
    <input type="submit"  value="Editar"/>
    
}


<h2>Editarv2</h2>
@using (Html.BeginForm("Editar", "Categoria", FormMethod.Post, new { @id = "miformulario", @class = "form-horizontal" }))
{
    <input type="hidden" name="CategoriaId" value="@Model.CategoriaId" />
    <label>Valor Interno</label>
    <input type="text" name="valorinterno" value="@Model.ValorInterno">
    <label>Valor </label>
    <input type="text" name="valor" value="@Model.Valor">
    <input type="submit" value="Editar" />

}
@*https://www.tutorialsteacher.com/mvc/html-helpers*@

<h2>Editarv3</h2>
@using (Html.BeginForm("Editar", "Categoria", FormMethod.Post, new { @id = "miformulario", @class = "form-horizontal" }))
{
    @Html.Partial("_Formulario",Model)
   <input type="submit"  value="Editar"/>

}




